bin/
obj/
.vs/
packages/
Grammar_BuildScripts/BlokScript.Parser/*.*
Grammar_BuildScripts/*.jar
BlokScript.TemplateAssemblyProject/
DotNetCore_Projects/**/*.cs
*.log
Logs/
Logs/*.log
DotNetCore_BuildScripts/*.zip
DotNetFramework_BuildScripts/*.zip

